.highlight pre{
    border: 1px solid #e3e3e3;
    border-radius: 2px;
    font-size: 75%;
}

.docutils.literal{
    color: #52b6ec;
    padding: 1px 4px;
    margin: 0 -2px;
    border-radius: 2px;
}

a {
    color: #52b6ec;
}

a.reference {
    border-bottom: 1px dotted #52b6ec;
}

a.reference:hover {
    border-bottom: 1px solid #52b6ec;
}

a:hover {
    color: #52b6ec;
}


h1 {
    margin: 30px 0px 10px 0px !important;
}


.body {
    max-width: unset !important;
}


img.logo{

width: 210px;

}
